body {
    margin: 0;
    font-family: 'Satoshi Regular';
}

.site-header {
    width: 100%;
    background: #f2f2f2;
}

/* First Row */

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
}

.logo svg {
    width: 150px;
    height: auto;
}

.icons {
    display: flex;
    gap: 14px;
}

.icons svg {
    width: 22px;
    height: 22px;
    color: #1F6F78;
    transition: color 0.25s ease;
}

.icons svg :hover {
    color: #4FA6AE;
}

/* Second Row */
.search-row {
    padding: 6px 8px;
}

.search-row input {
    flex: 1;
    width: 100%;
    padding: 6px;
    border: none;
    outline: none;
    font-size: 12px;

}

.search-form {
    display: flex;
    width: 96%;
    padding-inline: 6px;
    border: 1px solid #1F6F78;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
}

.search-btn {
    border: none;
    background: #fff;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-logo {
    width: 16px;
    height: 16px;
    color: #FF7F2A;
}

#search-logo :hover {
    color: #FFA366;
    transition: color 0.25s ease;
}

/* Third Row */
.nav-row {
    overflow-x: auto;
    margin-right: 6px;
}

.nav-row::-webkit-scrollbar {
    display: none;
}

.nav {
    display: flex;
    gap: 25px;
    padding: 10px 8px;
    margin: 0;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    white-space: nowrap;
    color:#1F6F78;
}

/* Larger Screens */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .logo svg {
    min-width: 200px;
    max-width: 250px;
    height: auto;
}

.icons {
    display: flex;
    gap: 18px;
}

.icons svg {
    width: 26px;
    height: 26px;
    color: #1F6F78;
}

    .search-row {
        justify-items: center;
    }

    .search-form {
        width: 80%;
        height: 35px;
        border-radius: 40px;
        padding-inline: 10px;
    }

    #search-logo {
        height: 18px;
        width: 18px;
    }

    .nav-row {
        justify-items: center;
    }

    .nav {
        gap: 35px;
    }
}