/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi Regular';
    width: 100%;
    background: white;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    display: none;
}

/* Eye Catcher */
.advert {
    margin-top: 1rem;
    padding: 1rem;
    background: #f5f5f5;
}

.advert-head {
    margin-bottom: 2px;
}

.advert-descr {
    font-family: 'Satoshi Light Italic';
    font-size: 12px;
}

.advert-btn {
    font-family: 'Satoshi Medium';
    padding: 8px;
    border-width: 0;
    border-radius: 20px;
    margin-top: 16px;
    color:#FF7F2A;
    background: #1F6F78;
}

/* Digital Shop Poster */
.shop-poster {
    background: #F5D627;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.poster-content {
    padding: 1rem;
}

.poster-head {
    font-family: 'Satoshi Medium';
    font-size: 30px;
}

.poster-descr {
    font-family: 'Satoshi Light Italic';
}

.poster-btn {
    padding-inline: 1rem;
}

/* For You */
.for-you {
    display: column;
    width: 100;
    margin: 20px 0px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 0.5rem 0 0.5rem;
}

.section-header a {
    color:#1F6F78
}

.subtitle {
    font-family: 'Satoshi Italic';
    padding-left: 0.5rem;
}

.product-row {
    display: flex;
    padding: 0.5rem 0.5rem 0 0.5rem;
    overflow-x: auto;
    gap: 25px;
}

.product-row::-webkit-scrollbar {
    display: none;
}

.product-card {
    font-size: 14px;
    flex-shrink: 0;
    width: clamp( 152px, 40%, 160px);
    border-radius: 15px;
    background: #f5f5f5;
}


.img-box {
   width: 100%;
   aspect-ratio: 1/1;
   border-radius: 15px;
   overflow: hidden;
   position: relative;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card h4 {
    font-family: 'Satoshi Regular';
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-row {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-family: 'Satoshi Medium';
}

.price-qty {
    font-size: 12px;
}

/* For You Buttons */
.for-you-btn {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.buy-now {
    font-family: 'Satoshi Medium';
    padding: 8px;
    border-width: 0;
    border-radius: 20px;
    margin-top: 10px;
    color:#FF7F2A;
    background: #1F6F78;
}

.cart {
    padding: 8px;
    border-width: 1px;
    border-color: #1F6F78;
    border-radius: 20px;
    margin-top: 10px;
    background: none;
}

.cart svg {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem;
    flex-shrink: 0;
    color: #FF7F2A;
}

button {
    cursor: pointer;
}

.deals-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-shrink: 0;
    margin: 8px;
    margin-bottom: 40px;
    gap: 35px;
}

.deals-column .product-card {
    width: 100%
}

.deals-column .product-card h4 {
    text-align: center;
}

.footer {
    background: #1F6F78;
    padding: 0;
    margin-top: 60px;
}

.main-links {
    padding: 2rem 0 1rem 0.5rem;
}

.main-links p {
    margin-bottom: 10px;
}

.main-links a {
    text-decoration: none;
    color: #f5f5f5;
}

.footer .footer-bar {
    display: auto;
    border: none;
    height: 1px;
    background: #f5f5f5;
    margin: 0 6px;
}

.sub-links {
    padding-top: 1.5rem;
    text-align: center;
}

.sub-links p {
    align-self: center;
    color: #D3D3D3;
}

.sub-links p a {
    color:#FF7F2A;
}

.copyright {
    text-align: center;
    padding: 0.5rem 0 2rem 0;
    color:#D3D3D3;
}

@media(min-width: 768px) {
    .product-card {
        font-size: 16px;
        flex-shrink: 0;
        width: clamp(180px, 25%, 250px);
        border-radius: 15px;
        background: #f5f5f5;
    }

    .section-wrapper {
        display: flex;
        width: 100%;
        gap: 30px;
        overflow-x: auto;
    }

    .latest-deals {
        flex-shrink: 0;
        width: clamp(450px, 50%, 600px);
        border:1px solid #1F6F78;
        margin: 8px;
        border-radius: 16px;
        outline: none;
    }

    .deals-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-shrink: 0;
        margin: 8px;
        gap: 35px;
    }

    .deals-column .product-card {
        width: 100%;
}
}

@media(min-width: 1024px) {
    .product-card {
        font-size: 12px;
        flex-shrink: 0;
        width: clamp(155px, 13%, 200px);
        border-radius: 15px;
        background: #f5f5f5;
    }

    .section-wrapper {
        display: flex;
        width: 100%;
        overflow: hidden;
        gap: 10px;
    }

    .latest-deals {
        font-size: 14px;
        flex-shrink: 1;
        width: 32%;
        border:1px solid #1F6F78;
        margin: 8px;
        border-radius: 16px;
        outline: none;
    }

    .deals-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-shrink: 1;
        margin: 8px;
        gap: 35px;
    }

    .deals-column .product-card {
        width: 100%;
    }
}